/* notes to self: ADJECTIVE STOOD LETÂ€™S fix */


/* mini reset */

html, body, h1 {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ==========================================================================
   Custom Base styles
   ========================================================================== */

body {
    color:whitesmoke;
    background-color:gray;
    font-family:Arial, Helvetica, sans-serif;   
}

::-moz-selection {
    background: #b3d4fc;
}
::selection {
    background: #b3d4fc;
}

.container {
    width:980px;
    margin:0 auto;
}

.wrapper {
    background-color:tomato;
    padding:20px 20px 10px;
    border-radius:8px;
    margin-top:60px;
}
.wrapper h1 {
    font-size:3em;
}

.button { 
    width: 400px;
    text-transform: uppercase;
    text-align:center;
    letter-spacing:2px;
    color:white;
    background-color:black;
    padding:8px;
    margin: 30px  auto 14px;
    -webkit-box-shadow: 6px 7px 32px 0px rgba(79, 76, 79,1);
    -moz-box-shadow: 6px 7px 32px 0px rgba(79, 76, 79,1);
    box-shadow: 6px 7px 32px 0px rgb(79, 76, 79,1);
}
.button:hover{
    background-color:gray;
    transition: .5s;  
}


/* ==========================================================================
  Media Queries for Responsive Design. Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print Styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
    }
